div#mcTooltipWrapper {
    display: none;
    padding: 9px;
    position: absolute;
    visibility: hidden;
    overflow: visible;
    z-index: 999;
    top: 0;
    margin-top: -4% !important;
}

div#mcTooltipWrapper table {
    table-layout: auto !important;
    z-index: 5;
}

div#mcTooltipWrapper table thead {
    display: none;
}

div#mcTooltip, div#mcTooltip div {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

div#mcTooltip {
    float: left;
    border-style: solid;
    position: relative;
    overflow: hidden;
}

div#mcTooltip, div.mcTooltipInner {
    background-color: #f7f7f7;
}

div#mcTooltip {
    line-height: 16px;
    border-width: 1px;
    color: #333;
    border-color: #bbb;
    padding: 20px;
    font-size: 12px;
    font-family: Verdana, Arial;
    border-radius: 6px;
    box-shadow: 0 1px 4px #aaa;
}

div#mcttCo {
    position: absolute;
    text-align: left;
}

.attachments-column .egov-attachment-list {
    display: none;
}

.ui-menu-list label {
    display: inline-block;
    padding-left: 5px;
}

.selection-result {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.selection-result div {
    display: inline;
    border: 0 none;
}

.selection-result ul {
    padding: 0;
    margin: 0;
}

.selection-result ul li {
    display: inline-block;
    margin: 1px;
    padding: 2px 3px;
    font-size: 12px;
    border-radius: 4px;
}

.selection-result .orange-tokens li {
    background-color: #ffdda5;
    border: 1px solid #ffc67f;
}

.selection-result .blue-tokens li {
    background-color: #d0eaf9;
    border: 1px solid #8bb8d7;
}

.selection-result .green-tokens li {
    background-color: #8de8b4;
    border: 1px solid #27ae60;
}

.selection-result li > p {
    display: none;
}

.selection-result .ui-datalist-empty-message {
    display: none;
}

div#mcttCloseButton {
    width: 14px;
    height: 14px;
    position: absolute;
    background-image: url('../images/closeBtn.gif');
    cursor: pointer;
    overflow: hidden;
    top: 12px;
    right: 12px;
    left: auto;
}

.selection-result .selection-break {
    background: url("../images/02_down.png") no-repeat scroll center center rgba(255, 255, 255, 1);
    bottom: 1px;
    height: 28px;
    position: absolute;
    right: 0;
    width: 20px;
    display: none;
}

.selection-result .selection-break-show {
    background: url("../images/02_up.png") no-repeat scroll center center rgba(255, 255, 255, 1);
    bottom: 1px;
    height: 28px;
    position: absolute;
    right: 0;
    width: 20px;
}