#headerFileUpload .ui-datatable .ui-datatable-tablewrapper thead th {
    border: none !important;
    background: none !important;
}

#headerFileUpload SPAN .ui-datatable .ui-datatable-tablewrapper {
    margin-top: 0;
}

#tableHeader .ui-widget-header {
    font-weight: bold;
    color: #222;
    border: 0px solid #AED0EA;
    background: transparent;
}

#tableHeader .ui-widget-content {
    border: 0px solid #DDD;
    background: transparent;
    color: #362B36;
}

#tableHeader .ui-fileupload-files {
    display: none;
}