/* icon active */
.custom-active-record {
    font-size: 1.3rem;
    color: #3C9462;
}
.custom-deActive-record {
    font-size: 1.3rem;
}

/*top link*/
#mkdf-back-to-top.on {
    opacity: 1;
    visibility: visible;
}

#mkdf-back-to-top.off {
    opacity: 0;
    visibility: hidden;
}

#mkdf-back-to-top .mkdf-icon-stack {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -19px;
    line-height: inherit;
    font-size: 36px;
    -webkit-transition: transform .2s ease-out;
    -moz-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
}

#mkdf-back-to-top .mkdf-back-to-top-inner {
    display: block;
    position: relative;
    top: 65%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

#mkdf-back-to-top .mkdf-back-to-top-text {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

#mkdf-back-to-top {
    display: block;
    position: fixed;
    right: 29px;
    bottom: 68px;
    margin: 0;
    width: 60px;
    height: 60px;
    opacity: 0;
    visibility: hidden;
    z-index: 10000;
    color: #d0d0d0;
    text-align: center;
    background-color: #252525;
    -webkit-transition: opacity .2s ease-out, visibility .2s ease-out, color .2s ease-out;
    -moz-transition: opacity .2s ease-out, visibility .2s ease-out, color .2s ease-out;
    transition: opacity .2s ease-out, visibility .2s ease-out, color .2s ease-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*  custom the UploadFile button*/
.upload-file-panel .ui-fileupload .ui-fileupload-buttonbar {
    border: none;
    background-color: inherit !important;
    padding: inherit;
}

.upload-file-panel input[type="file"] {
    display: none;
}

.upload-file-panel .ui-fileupload .ui-fileupload-content {
    border: none;
    background-color: inherit;
    padding: inherit;
    border-top: 0 none;
    line-height: 1.5;
}

.upload-file-panel .ui-fileupload .ui-fileupload-buttonbar .ui-button {
    margin-right: 0;
}

.upload-file-panel .ui-button.ui-button-text-icon-left .ui-button-text {
    padding: 0;
}

.upload-file-panel .ui-button-text-icon-left .ui-button-text {
    padding: .08em 1em .3em 2.1em !important;
}

/*custom pagination*/
.ui-paginator-top .ui-paginator-pages,
.ui-paginator-top .ui-paginator-first,
.ui-paginator-top .ui-paginator-prev,
.ui-paginator-top .ui-paginator-next,
.ui-paginator-top .ui-paginator-last,
.ui-paginator-top select {
    display: none !important;
}

.ui-paginator-top span.ui-paginator-current {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.ui-paginator-top {
    text-align: left !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

/* custom treetable */

.ui-treetable .ui-treetable-data > tr.ui-state-highlight .ui-button.ui-button-flat {
    color: white!important;
}

.ui-treetable .ui-treetable-data > tr.ui-state-highlight .ui-chkbox .ui-chkbox-box {
    background-color: transparent!important;
    border: none;
}

/* picklist */

.ui-picklist .ui-picklist-source{
    width: 100%!important;
}

.ui-picklist .ui-picklist-target {
    width: 100%!important;
}
.ui-picklist-list-wrapper {
    width: 50%;
}

/* /Width % */
.w10 {
    width: 10px;
}

.w15 {
    width: 15px;
}

.w16 {
    width: 16px;
}

.w20 {
    width: 20px;
}

.w30 {
    width: 30px;
}

.w50 {
    width: 50px;
}

.w70 {
    width: 70px;
}

.w80 {
    width: 80px;
}

.w85 {
    width: 85px;
}

.w90 {
    width: 90px;
}

.w100 {
    width: 100px;
}

.w120 {
    width: 120px;
}

.w150 {
    width: 150px;
}

.w180 {
    width: 180px;
}

.w200 {
    width: 200px;
}

.w220 {
    width: 220px;
}

.w280 {
    width: 280px;
}

.w600 {
    width: 600px;
}

.w900 {
    width: 900px;
}

.w-5 {
    width: 5% !important;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.w-25 {
    width: 25% !important;
}

.w-50 {
    width: 50% !important;
}

.w-75 {
    width: 75% !important;
}

.w-100 {
    width: 100% !important;
}

.w-auto {
    width: auto !important;
}

.mw-100 {
    max-width: 100% !important;
}

/* Autocomplate */
.ui-autocomplete-multiple-container {
    width: inherit !important;
}

div.ui-autocomplete {
    width: 100% !important;
}

.autoCompleteFull {
    width: 100% !important;
}

.autoCompleteFull input {
    width: 100% !important;
}

.selectOneMenuFull,
.calendarFull {
    min-width: inherit !important;
    width: 100% !important;
}

.ui-paginator select {
    border: 1px solid #D9DEE6 !important;
    color: #4B576F;
}

.oneMenuJsf {
    background: #fff;
    padding: 0.3em;
    color: #333;
    font-size: 14px;
    outline: 0 none;
    -moz-transition: border-color .3s;
    -o-transition: border-color .3s;
    -webkit-transition: border-color .3s;
    transition: border-color .3s;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.ui-chkbox .ui-chkbox-box {
    width: 15px !important;
    height: 15px !important;
}